# Load Data

First we will create the dataframe for the Colorado employment data including the adjusted and nonadjusted totals.

In [5]:
import pandas as pd

# Load data, specifying that the FIPS column should be a string to not drop the leading 0
co_employment = pd.read_csv ('~/jupyter/sp22Capstone_01_Group02/data/COCES_Combined.csv')

co_employment.columns = ['area','date','industry_code','industry','adjusted_employment','nonadjusted_employment']

co_employment['date'] = pd.to_datetime(co_employment.date)

co_employment['area'] = co_employment['area'].astype(str)


#df.columns = ['area','date','seriescode','title','currentmonth']

#pd.to_datetime(df['Time Period'], format='%B%Y')

co_employment.head()

,area,date,industry_code,industry,adjusted_employment,nonadjusted_employment
0,Colorado,1990-01-01,0,Total Nonfarm,1502200,1477700
1,Colorado,1990-01-01,5000000,Total Private,1227600,1209900
2,Colorado,1990-01-01,6000000,Goods Producing,249900,241200
3,Colorado,1990-01-01,7000000,Service-Providing,1252300,1236500
4,Colorado,1990-01-01,8000000,Private Service Providing,977700,968700

In [6]:
co_employment.dtypes

area                              object
date                      datetime64[ns]
industry_code                      int64
industry                          object
adjusted_employment                int64
nonadjusted_employment             int64
dtype: object

# We will likely also want to know which indutry codes correspond to which industries for simplicity.

In [7]:
co_employment.groupby(['industry_code','industry']).size().reset_index().rename(columns={0:'count'})

    industry_code                                  industry  count
0               0                             Total Nonfarm    384
1         5000000                             Total Private    384
2         6000000                           Goods Producing    384
3         7000000                         Service-Providing    384
4         8000000                 Private Service Providing    384
5        10000000                        Mining and Logging    384
6        15000000          Mining, Logging and Construction    384
7        20000000                              Construction    384
8        30000000                             Manufacturing    384
9        31000000                             Durable Goods    384
10       32000000                          NonDurable Goods    384
11       40000000      Trade, Transportation, and Utilities    384
12       41000000                           Wholesale Trade    384
13       42000000                              Retail Trade    384
14       43000000  Transportation Warehousing and Utilities    384
15       50000000                               Information    384
16       55000000                      Financial Activities    384
17       60000000        Professional and Business Services    384
18       65000000           Educational and Health Services    384
19       70000000                   Leisure and Hospitality    384
20       80000000                            Other Services    384
21       90000000                                Government    384

# Finally, we will need to create a sql table for each dataframe.

In [8]:
import getpass
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine
%reload_ext sql

mypasswd = getpass.getpass()
username = 'nnfd2' # Replace with your pawprint
host = 'pgsql.dsa.lan'
database = 'caponl_22g2'

postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database': database}
engine = create_engine(URL(**postgres_db), echo=False)


connection_string = f'postgres://{username}:{mypasswd}@{host}/{database}'
%sql $connection_string
del mypasswd

········

In [13]:
%%sql

drop table if exists co_employment cascade;

create table co_employment (
    area varchar(100),
    date date,
    industry_code int,
    industry varchar(100),
    adjusted_employment int,
    nonadjusted_employment int,
    constraint pk_co_employment primary key (date,industry)
);

grant all privileges on co_employment to nnfd2, dgyw5, jwcp64, gfdbq

 * postgres://nnfd2:***@pgsql.dsa.lan/caponl_22g2
Done.
Done.
Done.

[]

# Load Data to Tables

In [14]:
co_employment.to_sql ('co_employment', engine, if_exists='append', index=False, method='multi', chunksize=1000)

In [17]:
%%sql

select date,industry,sum(adjusted_employment),sum(nonadjusted_employment)
from co_employment
where industry_code=70000000
group by industry,date
order by date

 * postgres://nnfd2:***@pgsql.dsa.lan/caponl_22g2
384 rows affected.

[(datetime.date(1990, 1, 1), 'Leisure and Hospitality', 164600, 163700),
 (datetime.date(1990, 2, 1), 'Leisure and Hospitality', 164600, 164500),
 (datetime.date(1990, 3, 1), 'Leisure and Hospitality', 165700, 167700),
 (datetime.date(1990, 4, 1), 'Leisure and Hospitality', 166500, 165800),
 (datetime.date(1990, 5, 1), 'Leisure and Hospitality', 167400, 160200),
 (datetime.date(1990, 6, 1), 'Leisure and Hospitality', 167700, 171900),
 (datetime.date(1990, 7, 1), 'Leisure and Hospitality', 167400, 174700),
 (datetime.date(1990, 8, 1), 'Leisure and Hospitality', 168500, 177200),
 (datetime.date(1990, 9, 1), 'Leisure and Hospitality', 168600, 169200),
 (datetime.date(1990, 10, 1), 'Leisure and Hospitality', 168200, 160300),
 (datetime.date(1990, 11, 1), 'Leisure and Hospitality', 169100, 162000),
 (datetime.date(1990, 12, 1), 'Leisure and Hospitality', 168900, 170300),
 (datetime.date(1991, 1, 1), 'Leisure and Hospitality', 168600, 167600),
 (datetime.date(1991, 2, 1), 'Leisure and Hospitality', 168600, 168600),
 (datetime.date(1991, 3, 1), 'Leisure and Hospitality', 168200, 170400),
 (datetime.date(1991, 4, 1), 'Leisure and Hospitality', 166500, 165900),
 (datetime.date(1991, 5, 1), 'Leisure and Hospitality', 167600, 160300),
 (datetime.date(1991, 6, 1), 'Leisure and Hospitality', 168900, 172500),
 (datetime.date(1991, 7, 1), 'Leisure and Hospitality', 169300, 176600),
 (datetime.date(1991, 8, 1), 'Leisure and Hospitality', 168900, 177500),
 (datetime.date(1991, 9, 1), 'Leisure and Hospitality', 168900, 169600),
 (datetime.date(1991, 10, 1), 'Leisure and Hospitality', 169200, 161200),
 (datetime.date(1991, 11, 1), 'Leisure and Hospitality', 171200, 163900),
 (datetime.date(1991, 12, 1), 'Leisure and Hospitality', 172800, 174300),
 (datetime.date(1992, 1, 1), 'Leisure and Hospitality', 173400, 172800),
 (datetime.date(1992, 2, 1), 'Leisure and Hospitality', 174500, 174900),
 (datetime.date(1992, 3, 1), 'Leisure and Hospitality', 175600, 178100),
 (datetime.date(1992, 4, 1), 'Leisure and Hospitality', 175400, 175500),
 (datetime.date(1992, 5, 1), 'Leisure and Hospitality', 177900, 170200),
 (datetime.date(1992, 6, 1), 'Leisure and Hospitality', 179200, 183200),
 (datetime.date(1992, 7, 1), 'Leisure and Hospitality', 182000, 189800),
 (datetime.date(1992, 8, 1), 'Leisure and Hospitality', 183200, 191900),
 (datetime.date(1992, 9, 1), 'Leisure and Hospitality', 182700, 183000),
 (datetime.date(1992, 10, 1), 'Leisure and Hospitality', 184400, 175800),
 (datetime.date(1992, 11, 1), 'Leisure and Hospitality', 185400, 176600),
 (datetime.date(1992, 12, 1), 'Leisure and Hospitality', 184800, 186600),
 (datetime.date(1993, 1, 1), 'Leisure and Hospitality', 186600, 186000),
 (datetime.date(1993, 2, 1), 'Leisure and Hospitality', 187500, 188100),
 (datetime.date(1993, 3, 1), 'Leisure and Hospitality', 188600, 191300),
 (datetime.date(1993, 4, 1), 'Leisure and Hospitality', 190600, 190800),
 (datetime.date(1993, 5, 1), 'Leisure and Hospitality', 189800, 181600),
 (datetime.date(1993, 6, 1), 'Leisure and Hospitality', 190500, 194800),
 (datetime.date(1993, 7, 1), 'Leisure and Hospitality', 190700, 198900),
 (datetime.date(1993, 8, 1), 'Leisure and Hospitality', 191300, 200300),
 (datetime.date(1993, 9, 1), 'Leisure and Hospitality', 192600, 192900),
 (datetime.date(1993, 10, 1), 'Leisure and Hospitality', 193700, 184000),
 (datetime.date(1993, 11, 1), 'Leisure and Hospitality', 194400, 185200),
 (datetime.date(1993, 12, 1), 'Leisure and Hospitality', 195900, 198400),
 (datetime.date(1994, 1, 1), 'Leisure and Hospitality', 197900, 196400),
 (datetime.date(1994, 2, 1), 'Leisure and Hospitality', 197600, 197900),
 (datetime.date(1994, 3, 1), 'Leisure and Hospitality', 198100, 200800),
 (datetime.date(1994, 4, 1), 'Leisure and Hospitality', 200800, 200900),
 (datetime.date(1994, 5, 1), 'Leisure and Hospitality', 200200, 191800),
 (datetime.date(1994, 6, 1), 'Leisure and Hospitality', 201000, 206300),
 (datetime.date(1994, 7, 1), 'Leisure and Hospitality', 203700, 212800),
 (datetime.date(1994, 8, 1), 'Leisure and Hospitality', 204100, 213700),
 (datetime.date(1994, 9, 1), 'Leisure and Hospitality', 204600, 205000),
 (datetime.date(1994, 10, 1), 'Leisure and Hospitality', 207500, 197000),
 (datetime.date(1994, 11, 1), 'Leisure and Hospitality', 208900, 199100),
 (datetime.date(1994, 12, 1), 'Leisure and Hospitality', 210300, 213100),
 (datetime.date(1995, 1, 1), 'Leisure and Hospitality', 210900, 209200),
 (datetime.date(1995, 2, 1), 'Leisure and Hospitality', 211700, 211400),
 (datetime.date(1995, 3, 1), 'Leisure and Hospitality', 212900, 215800),
 (datetime.date(1995, 4, 1), 'Leisure and Hospitality', 213900, 212900),
 (datetime.date(1995, 5, 1), 'Leisure and Hospitality', 215000, 206300),
 (datetime.date(1995, 6, 1), 'Leisure and Hospitality', 217400, 223300),
 (datetime.date(1995, 7, 1), 'Leisure and Hospitality', 216700, 226400),
 (datetime.date(1995, 8, 1), 'Leisure and Hospitality', 217100, 227500),
 (datetime.date(1995, 9, 1), 'Leisure and Hospitality', 216800, 217300),
 (datetime.date(1995, 10, 1), 'Leisure and Hospitality', 216100, 205300),
 (datetime.date(1995, 11, 1), 'Leisure and Hospitality', 216700, 207600),
 (datetime.date(1995, 12, 1), 'Leisure and Hospitality', 216800, 218900),
 (datetime.date(1996, 1, 1), 'Leisure and Hospitality', 217300, 215200),
 (datetime.date(1996, 2, 1), 'Leisure and Hospitality', 217700, 217000),
 (datetime.date(1996, 3, 1), 'Leisure and Hospitality', 219100, 221800),
 (datetime.date(1996, 4, 1), 'Leisure and Hospitality', 220100, 218900),
 (datetime.date(1996, 5, 1), 'Leisure and Hospitality', 220200, 211400),
 (datetime.date(1996, 6, 1), 'Leisure and Hospitality', 219700, 225200),
 (datetime.date(1996, 7, 1), 'Leisure and Hospitality', 219600, 229600),
 (datetime.date(1996, 8, 1), 'Leisure and Hospitality', 220400, 231800),
 (datetime.date(1996, 9, 1), 'Leisure and Hospitality', 221600, 222300),
 (datetime.date(1996, 10, 1), 'Leisure and Hospitality', 221500, 210600),
 (datetime.date(1996, 11, 1), 'Leisure and Hospitality', 221900, 212800),
 (datetime.date(1996, 12, 1), 'Leisure and Hospitality', 223000, 225000),
 (datetime.date(1997, 1, 1), 'Leisure and Hospitality', 223200, 221400),
 (datetime.date(1997, 2, 1), 'Leisure and Hospitality', 224300, 224100),
 (datetime.date(1997, 3, 1), 'Leisure and Hospitality', 224500, 227200),
 (datetime.date(1997, 4, 1), 'Leisure and Hospitality', 224000, 222500),
 (datetime.date(1997, 5, 1), 'Leisure and Hospitality', 225000, 216300),
 (datetime.date(1997, 6, 1), 'Leisure and Hospitality', 227000, 232900),
 (datetime.date(1997, 7, 1), 'Leisure and Hospitality', 228500, 239200),
 (datetime.date(1997, 8, 1), 'Leisure and Hospitality', 228700, 240500),
 (datetime.date(1997, 9, 1), 'Leisure and Hospitality', 228100, 228800),
 (datetime.date(1997, 10, 1), 'Leisure and Hospitality', 227400, 217300),
 (datetime.date(1997, 11, 1), 'Leisure and Hospitality', 228700, 218500),
 (datetime.date(1997, 12, 1), 'Leisure and Hospitality', 229100, 230700),
 (datetime.date(1998, 1, 1), 'Leisure and Hospitality', 228900, 227000),
 (datetime.date(1998, 2, 1), 'Leisure and Hospitality', 230400, 230000),
 (datetime.date(1998, 3, 1), 'Leisure and Hospitality', 229100, 231500),
 (datetime.date(1998, 4, 1), 'Leisure and Hospitality', 227900, 226900),
 (datetime.date(1998, 5, 1), 'Leisure and Hospitality', 229800, 221300),
 (datetime.date(1998, 6, 1), 'Leisure and Hospitality', 230400, 236800),
 (datetime.date(1998, 7, 1), 'Leisure and Hospitality', 230400, 241100),
 (datetime.date(1998, 8, 1), 'Leisure and Hospitality', 230900, 242400),
 (datetime.date(1998, 9, 1), 'Leisure and Hospitality', 231300, 232000),
 (datetime.date(1998, 10, 1), 'Leisure and Hospitality', 232700, 222800),
 (datetime.date(1998, 11, 1), 'Leisure and Hospitality', 235100, 224600),
 (datetime.date(1998, 12, 1), 'Leisure and Hospitality', 235000, 236100),
 (datetime.date(1999, 1, 1), 'Leisure and Hospitality', 236800, 234600),
 (datetime.date(1999, 2, 1), 'Leisure and Hospitality', 238100, 237500),
 (datetime.date(1999, 3, 1), 'Leisure and Hospitality', 237300, 239600),
 (datetime.date(1999, 4, 1), 'Leisure and Hospitality', 237600, 236300),
 (datetime.date(1999, 5, 1), 'Leisure and Hospitality', 237600, 229000),
 (datetime.date(1999, 6, 1), 'Leisure and Hospitality', 238500, 245300),
 (datetime.date(1999, 7, 1), 'Leisure and Hospitality', 238600, 250000),
 (datetime.date(1999, 8, 1), 'Leisure and Hospitality', 238100, 250000),
 (datetime.date(1999, 9, 1), 'Leisure and Hospitality', 239900, 240400),
 (datetime.date(1999, 10, 1), 'Leisure and Hospitality', 241600, 230900),
 (datetime.date(1999, 11, 1), 'Leisure and Hospitality', 240100, 229500),
 (datetime.date(1999, 12, 1), 'Leisure and Hospitality', 237700, 239100),
 (datetime.date(2000, 1, 1), 'Leisure and Hospitality', 240600, 237500),
 (datetime.date(2000, 2, 1), 'Leisure and Hospitality', 241600, 240500),
 (datetime.date(2000, 3, 1), 'Leisure and Hospitality', 243600, 245600),
 (datetime.date(2000, 4, 1), 'Leisure and Hospitality', 244600, 242300),
 (datetime.date(2000, 5, 1), 'Leisure and Hospitality', 245200, 236600),
 (datetime.date(2000, 6, 1), 'Leisure and Hospitality', 245800, 254000),
 (datetime.date(2000, 7, 1), 'Leisure and Hospitality', 246900, 258900),
 (datetime.date(2000, 8, 1), 'Leisure and Hospitality', 247100, 259500),
 (datetime.date(2000, 9, 1), 'Leisure and Hospitality', 247700, 248500),
 (datetime.date(2000, 10, 1), 'Leisure and Hospitality', 248700, 238000),
 (datetime.date(2000, 11, 1), 'Leisure and Hospitality', 250800, 240500),
 (datetime.date(2000, 12, 1), 'Leisure and Hospitality', 249300, 250100),
 (datetime.date(2001, 1, 1), 'Leisure and Hospitality', 249600, 246200),
 (datetime.date(2001, 2, 1), 'Leisure and Hospitality', 249700, 247400),
 (datetime.date(2001, 3, 1), 'Leisure and Hospitality', 249600, 251200),
 (datetime.date(2001, 4, 1), 'Leisure and Hospitality', 248800, 246300),
 (datetime.date(2001, 5, 1), 'Leisure and Hospitality', 247600, 239400),
 (datetime.date(2001, 6, 1), 'Leisure and Hospitality', 248400, 257000),
 (datetime.date(2001, 7, 1), 'Leisure and Hospitality', 247800, 259900),
 (datetime.date(2001, 8, 1), 'Leisure and Hospitality', 247400, 260300),
 (datetime.date(2001, 9, 1), 'Leisure and Hospitality', 246600, 247900),
 (datetime.date(2001, 10, 1), 'Leisure and Hospitality', 243800, 233800),
 (datetime.date(2001, 11, 1), 'Leisure and Hospitality', 243700, 233700),
 (datetime.date(2001, 12, 1), 'Leisure and Hospitality', 242900, 243600),
 (datetime.date(2002, 1, 1), 'Leisure and Hospitality', 245700, 242200),
 (datetime.date(2002, 2, 1), 'Leisure and Hospitality', 246100, 243400),
 (datetime.date(2002, 3, 1), 'Leisure and Hospitality', 244800, 246100),
 (datetime.date(2002, 4, 1), 'Leisure and Hospitality', 247700, 245200),
 (datetime.date(2002, 5, 1), 'Leisure and Hospitality', 248300, 240300),
 (datetime.date(2002, 6, 1), 'Leisure and Hospitality', 248800, 256900),
 (datetime.date(2002, 7, 1), 'Leisure and Hospitality', 247600, 259600),
 (datetime.date(2002, 8, 1), 'Leisure and Hospitality', 247200, 260000),
 (datetime.date(2002, 9, 1), 'Leisure and Hospitality', 247100, 248700),
 (datetime.date(2002, 10, 1), 'Leisure and Hospitality', 246900, 237200),
 (datetime.date(2002, 11, 1), 'Leisure and Hospitality', 246000, 236000),
 (datetime.date(2002, 12, 1), 'Leisure and Hospitality', 247700, 248500),
 (datetime.date(2003, 1, 1), 'Leisure and Hospitality', 246900, 243800),
 (datetime.date(2003, 2, 1), 'Leisure and Hospitality', 245200, 242800),
 (datetime.date(2003, 3, 1), 'Leisure and Hospitality', 244000, 244800),
 (datetime.date(2003, 4, 1), 'Leisure and Hospitality', 243900, 241200),
 (datetime.date(2003, 5, 1), 'Leisure and Hospitality', 243900, 236600),
 (datetime.date(2003, 6, 1), 'Leisure and Hospitality', 244500, 252500),
 (datetime.date(2003, 7, 1), 'Leisure and Hospitality', 244900, 256600),
 (datetime.date(2003, 8, 1), 'Leisure and Hospitality', 246200, 258800),
 (datetime.date(2003, 9, 1), 'Leisure and Hospitality', 246100, 247600),
 (datetime.date(2003, 10, 1), 'Leisure and Hospitality', 246800, 238200),
 (datetime.date(2003, 11, 1), 'Leisure and Hospitality', 247100, 236100),
 (datetime.date(2003, 12, 1), 'Leisure and Hospitality', 246900, 247900),
 (datetime.date(2004, 1, 1), 'Leisure and Hospitality', 247800, 244800),
 (datetime.date(2004, 2, 1), 'Leisure and Hospitality', 248000, 245500),
 (datetime.date(2004, 3, 1), 'Leisure and Hospitality', 248900, 249700),
 (datetime.date(2004, 4, 1), 'Leisure and Hospitality', 250100, 248200),
 (datetime.date(2004, 5, 1), 'Leisure and Hospitality', 251100, 244000),
 (datetime.date(2004, 6, 1), 'Leisure and Hospitality', 251500, 259600),
 (datetime.date(2004, 7, 1), 'Leisure and Hospitality', 252000, 263500),
 (datetime.date(2004, 8, 1), 'Leisure and Hospitality', 252300, 264500),
 (datetime.date(2004, 9, 1), 'Leisure and Hospitality', 253000, 253900),
 (datetime.date(2004, 10, 1), 'Leisure and Hospitality', 252900, 243300),
 (datetime.date(2004, 11, 1), 'Leisure and Hospitality', 253100, 242200),
 (datetime.date(2004, 12, 1), 'Leisure and Hospitality', 254200, 256100),
 (datetime.date(2005, 1, 1), 'Leisure and Hospitality', 254600, 250800),
 (datetime.date(2005, 2, 1), 'Leisure and Hospitality', 255400, 252700),
 (datetime.date(2005, 3, 1), 'Leisure and Hospitality', 256800, 257500),
 (datetime.date(2005, 4, 1), 'Leisure and Hospitality', 255700, 253700),
 (datetime.date(2005, 5, 1), 'Leisure and Hospitality', 256900, 250000),
 (datetime.date(2005, 6, 1), 'Leisure and Hospitality', 257100, 266000),
 (datetime.date(2005, 7, 1), 'Leisure and Hospitality', 257700, 269700),
 (datetime.date(2005, 8, 1), 'Leisure and Hospitality', 257800, 270000),
 (datetime.date(2005, 9, 1), 'Leisure and Hospitality', 258300, 259100),
 (datetime.date(2005, 10, 1), 'Leisure and Hospitality', 259200, 249500),
 (datetime.date(2005, 11, 1), 'Leisure and Hospitality', 259300, 248600),
 (datetime.date(2005, 12, 1), 'Leisure and Hospitality', 260500, 262500),
 (datetime.date(2006, 1, 1), 'Leisure and Hospitality', 262600, 258500),
 (datetime.date(2006, 2, 1), 'Leisure and Hospitality', 262600, 259000),
 (datetime.date(2006, 3, 1), 'Leisure and Hospitality', 262800, 263300),
 (datetime.date(2006, 4, 1), 'Leisure and Hospitality', 262100, 259200),
 (datetime.date(2006, 5, 1), 'Leisure and Hospitality', 263400, 256500),
 (datetime.date(2006, 6, 1), 'Leisure and Hospitality', 264700, 273700),
 (datetime.date(2006, 7, 1), 'Leisure and Hospitality', 265100, 277200),
 (datetime.date(2006, 8, 1), 'Leisure and Hospitality', 265400, 277900),
 (datetime.date(2006, 9, 1), 'Leisure and Hospitality', 265900, 266700),
 (datetime.date(2006, 10, 1), 'Leisure and Hospitality', 267000, 257400),
 (datetime.date(2006, 11, 1), 'Leisure and Hospitality', 268200, 258700),
 (datetime.date(2006, 12, 1), 'Leisure and Hospitality', 269500, 271000),
 (datetime.date(2007, 1, 1), 'Leisure and Hospitality', 267600, 263400),
 (datetime.date(2007, 2, 1), 'Leisure and Hospitality', 268100, 264700),
 (datetime.date(2007, 3, 1), 'Leisure and Hospitality', 269500, 270000),
 (datetime.date(2007, 4, 1), 'Leisure and Hospitality', 269900, 266500),
 (datetime.date(2007, 5, 1), 'Leisure and Hospitality', 269700, 263000),
 (datetime.date(2007, 6, 1), 'Leisure and Hospitality', 269600, 278600),
 (datetime.date(2007, 7, 1), 'Leisure and Hospitality', 269800, 281900),
 (datetime.date(2007, 8, 1), 'Leisure and Hospitality', 269800, 282600),
 (datetime.date(2007, 9, 1), 'Leisure and Hospitality', 270700, 271700),
 (datetime.date(2007, 10, 1), 'Leisure and Hospitality', 271900, 262500),
 (datetime.date(2007, 11, 1), 'Leisure and Hospitality', 273200, 264100),
 (datetime.date(2007, 12, 1), 'Leisure and Hospitality', 274200, 275700),
 (datetime.date(2008, 1, 1), 'Leisure and Hospitality', 274000, 269700),
 (datetime.date(2008, 2, 1), 'Leisure and Hospitality', 274500, 271100),
 (datetime.date(2008, 3, 1), 'Leisure and Hospitality', 274200, 274500),
 (datetime.date(2008, 4, 1), 'Leisure and Hospitality', 274900, 271700),
 (datetime.date(2008, 5, 1), 'Leisure and Hospitality', 277600, 268700),
 (datetime.date(2008, 6, 1), 'Leisure and Hospitality', 275500, 283700),
 (datetime.date(2008, 7, 1), 'Leisure and Hospitality', 273800, 286400),
 (datetime.date(2008, 8, 1), 'Leisure and Hospitality', 272700, 285900),
 (datetime.date(2008, 9, 1), 'Leisure and Hospitality', 272100, 273300),
 (datetime.date(2008, 10, 1), 'Leisure and Hospitality', 270500, 262300),
 (datetime.date(2008, 11, 1), 'Leisure and Hospitality', 269600, 259100),
 (datetime.date(2008, 12, 1), 'Leisure and Hospitality', 267600, 268700),
 (datetime.date(2009, 1, 1), 'Leisure and Hospitality', 265800, 262200),
 (datetime.date(2009, 2, 1), 'Leisure and Hospitality', 264800, 261300),
 (datetime.date(2009, 3, 1), 'Leisure and Hospitality', 263300, 263500),
 (datetime.date(2009, 4, 1), 'Leisure and Hospitality', 262800, 260200),
 (datetime.date(2009, 5, 1), 'Leisure and Hospitality', 264100, 256600),
 (datetime.date(2009, 6, 1), 'Leisure and Hospitality', 261700, 269400),
 (datetime.date(2009, 7, 1), 'Leisure and Hospitality', 262300, 274500),
 (datetime.date(2009, 8, 1), 'Leisure and Hospitality', 261600, 274700),
 (datetime.date(2009, 9, 1), 'Leisure and Hospitality', 261700, 262600),
 (datetime.date(2009, 10, 1), 'Leisure and Hospitality', 261300, 253300),
 (datetime.date(2009, 11, 1), 'Leisure and Hospitality', 260300, 250000),
 (datetime.date(2009, 12, 1), 'Leisure and Hospitality', 259600, 260700),
 (datetime.date(2010, 1, 1), 'Leisure and Hospitality', 260000, 256700),
 (datetime.date(2010, 2, 1), 'Leisure and Hospitality', 260400, 257000),
 (datetime.date(2010, 3, 1), 'Leisure and Hospitality', 259900, 259900),
 (datetime.date(2010, 4, 1), 'Leisure and Hospitality', 261700, 259300),
 (datetime.date(2010, 5, 1), 'Leisure and Hospitality', 261500, 253700),
 (datetime.date(2010, 6, 1), 'Leisure and Hospitality', 262300, 270100),
 (datetime.date(2010, 7, 1), 'Leisure and Hospitality', 262900, 275700),
 (datetime.date(2010, 8, 1), 'Leisure and Hospitality', 263800, 277200),
 (datetime.date(2010, 9, 1), 'Leisure and Hospitality', 264200, 265600),
 (datetime.date(2010, 10, 1), 'Leisure and Hospitality', 266300, 257400),
 (datetime.date(2010, 11, 1), 'Leisure and Hospitality', 265700, 255000),
 (datetime.date(2010, 12, 1), 'Leisure and Hospitality', 268000, 268600),
 (datetime.date(2011, 1, 1), 'Leisure and Hospitality', 269200, 265400),
 (datetime.date(2011, 2, 1), 'Leisure and Hospitality', 267600, 264100),
 (datetime.date(2011, 3, 1), 'Leisure and Hospitality', 269400, 269400),
 (datetime.date(2011, 4, 1), 'Leisure and Hospitality', 269300, 267000),
 (datetime.date(2011, 5, 1), 'Leisure and Hospitality', 269700, 261600),
 (datetime.date(2011, 6, 1), 'Leisure and Hospitality', 270200, 279500),
 (datetime.date(2011, 7, 1), 'Leisure and Hospitality', 271000, 284100),
 (datetime.date(2011, 8, 1), 'Leisure and Hospitality', 272300, 286000),
 (datetime.date(2011, 9, 1), 'Leisure and Hospitality', 274600, 275800),
 (datetime.date(2011, 10, 1), 'Leisure and Hospitality', 274100, 264600),
 (datetime.date(2011, 11, 1), 'Leisure and Hospitality', 274800, 263400),
 (datetime.date(2011, 12, 1), 'Leisure and Hospitality', 274900, 275400),
 (datetime.date(2012, 1, 1), 'Leisure and Hospitality', 275700, 272000),
 (datetime.date(2012, 2, 1), 'Leisure and Hospitality', 275200, 271500),
 (datetime.date(2012, 3, 1), 'Leisure and Hospitality', 277900, 278100),
 (datetime.date(2012, 4, 1), 'Leisure and Hospitality', 277400, 275000),
 (datetime.date(2012, 5, 1), 'Leisure and Hospitality', 278200, 269800),
 (datetime.date(2012, 6, 1), 'Leisure and Hospitality', 279600, 289300),
 (datetime.date(2012, 7, 1), 'Leisure and Hospitality', 280100, 293700),
 (datetime.date(2012, 8, 1), 'Leisure and Hospitality', 280400, 294000),
 (datetime.date(2012, 9, 1), 'Leisure and Hospitality', 280600, 281600),