#  Hotel Descritptive Stats, Univeriate, and Biveriate Analysis

Note: you will need to run the following two cells and restart your kernel in order to proceed in the UM europa instance.

In [1]:
!pip install --upgrade plotly

Requirement already up-to-date: plotly in /opt/conda/lib/python3.7/site-packages (5.8.0)
Requirement already satisfied, skipping upgrade: tenacity>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from plotly) (8.0.1)

In [2]:
!pip install --upgrade plotly.express

Collecting plotly.express
  Using cached https://files.pythonhosted.org/packages/d4/d6/8a2906f51e073a4be80cab35cfa10e7a34853e60f3ed5304ac470852a08d/plotly_express-0.4.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: plotly>=4.1.0 in /opt/conda/lib/python3.7/site-packages (from plotly.express) (5.8.0)
Requirement already satisfied, skipping upgrade: numpy>=1.11 in /opt/conda/lib/python3.7/site-packages (from plotly.express) (1.17.3)
Requirement already satisfied, skipping upgrade: scipy>=0.18 in /opt/conda/lib/python3.7/site-packages (from plotly.express) (1.2.1)
Requirement already satisfied, skipping upgrade: pandas>=0.20.0 in /opt/conda/lib/python3.7/site-packages (from plotly.express) (0.25.2)
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in /opt/conda/lib/python3.7/site-packages (from plotly.express) (0.9.0)
Requirement already satisfied, skipping upgrade: patsy>=0.5 in /opt/conda/lib/python3.7/site-packages (from plotly.express) (0.5.1)
Requirement already satisfied, skipping upgrade: tenacity>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from plotly>=4.1.0->plotly.express) (8.0.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.20.0->plotly.express) (2019.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.20.0->plotly.express) (2.8.0)
Requirement already satisfied, skipping upgrade: six in /opt/conda/lib/python3.7/site-packages (from patsy>=0.5->plotly.express) (1.12.0)
Installing collected packages: plotly.express
Successfully installed plotly.express

# Load Data

In [1]:
import getpass
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly as pl
# import datetime as dt
from datetime import date, timedelta
%reload_ext sql

mypasswd = getpass.getpass()
username = 'nnfd2'
host = 'pgsql.dsa.lan'
database = 'caponl_22g2'

connection_string = f'postgres://{username}:{mypasswd}@{host}/{database}'
%sql $connection_string
del mypasswd

········

In [2]:
hotel = %sql select * from hotel_data
hotel = hotel.DataFrame()
hotel['date'] = pd.to_datetime(hotel['date'])

 * postgres://nnfd2:***@pgsql.dsa.lan/caponl_22g2
26424 rows affected.

In order to produce accurate but readable visualizations we will be filling in missing values with the mean. Note, we did not do this for our data modeling for accuracy, but here it will provide us with good insights with a reasonable filling method.

In [3]:
#hotel_nona=hotel.dropna()
hotel_nona=hotel.fillna(hotel.mean())
hotel_nona['dow']= pd.to_datetime(hotel_nona['date']).dt.weekday_name
hotel_nona['year']= pd.to_datetime(hotel_nona['date']).dt.year
hotel_nona['month']=pd.to_datetime(hotel_nona['date']).dt.month_name()
hotel_nona['dom']= pd.to_datetime(hotel_nona['date']).dt.day

hotel_nona.head()

,date,city,occupancy,adjusted_adr,adjusted_revpar,supply,demand,adjusted_revenue,dow,year,month,dom
0,2004-01-01,Vail,56.812215,304.122191,196.145552,1931.701484,1074.141753,391039.325248,Thursday,2004,January,1
1,2004-01-01,Breckenridge,56.812215,304.122191,196.145552,1931.701484,1074.141753,391039.325248,Thursday,2004,January,1
2,2004-01-01,Silverthorne,56.812215,304.122191,196.145552,1931.701484,1074.141753,391039.325248,Thursday,2004,January,1
3,2004-01-01,Aspen,56.812215,304.122191,196.145552,1931.701484,1074.141753,391039.325248,Thursday,2004,January,1
4,2004-01-02,Vail,56.812215,304.122191,196.145552,1931.701484,1074.141753,391039.325248,Friday,2004,January,2

In [4]:
cities=['Vail','Aspen','Breckenridge']
hotel_nona = hotel_nona[hotel_nona['city'].isin(cities)]
hotel_nona = hotel_nona[hotel_nona['year'] >= 2010]
hotel_nona = hotel_nona[hotel_nona['year'] <= 2019]

In [5]:
from datetime import date, datetime
Y = 2000 # dummy leap year to allow input X-02-29 (leap day)
seasons = [('winter', (date(Y,  1,  1),  date(Y,  3, 31))),
           ('spring', (date(Y,  4,  1),  date(Y,  6, 20))),
           ('summer', (date(Y,  6, 21),  date(Y,  9, 22))),
           ('autumn', (date(Y,  9, 23),  date(Y, 10, 31))),
           ('winter', (date(Y, 11,  1),  date(Y, 12, 31)))]

def get_season(now):
    if isinstance(now, datetime):
        now = now.date()
    now = now.replace(year=Y)
    return next(season for season, (start, end) in seasons
                if start <= now <= end)

hotel_nona['season'] = hotel_nona.date.apply(get_season)

In [6]:
def theme (p, isSubplot=False, xtitle=None, ytitle=None):
    """
    Small function to apply common theming options to plotly graphs
    Removes grids and applies a white background
    @params:
        p                  - required - plotly graph object
        xtitle             - optional - title for x axis
        ytitle             - optional - title for y axis
    """
    if isSubplot:
        p = p.update_xaxes(showgrid=False,linecolor='#000')
        p = p.update_yaxes(showgrid=False,linecolor='#000')
    else:
        p = p.update_xaxes(showgrid=False,title=xtitle,linecolor='#000')
        p = p.update_yaxes(showgrid=False,title=ytitle,linecolor='#000')
    p = p.update_layout(plot_bgcolor='rgba(0,0,0,0)')
    return p

# Limited and Grouped Data Viz

The exploration we have done in prior notebooks makes it obvious that the winter season is significantly busier and more expensive than the summer. But, by how much? As we can see below, rates in the winter are approximately 1.75x as expensive as the summer months on average and even more so than in spring or autumn.

In [7]:
hotel_nona.groupby('season').mean()

,occupancy,adjusted_adr,adjusted_revpar,supply,demand,adjusted_revenue,year,dom
season,,,,,,,,
autumn,42.069051,191.877353,87.391528,2047.765799,842.396305,172567.964869,2014.500000,18.153846
spring,40.321635,217.820308,100.500568,2093.809747,825.907260,204265.186388,2014.500000,14.456790
summer,64.384787,285.997858,192.297538,2057.726759,1311.558178,376593.585929,2014.500000,15.957447
winter,64.055897,426.227788,306.775970,2067.116256,1322.190081,640551.538189,2014.499339,15.640212

Given that busyness (occupancy) is somewhat comparable between winter and summer we want to take a like at that comparison over time. As we can see, winter and summer are relatively even in terms of average occupancy over time with winter slightly edging out summer in terms of overall business.

In [ ]:
seasons=['winter','summer']
p = px.line(hotel_nona[(hotel_nona['season'].isin(seasons))].sort_values('date', ascending=True), x='date', y='occupancy', color='season', facet_row='city', facet_col_wrap=2, title="Occupancy Rate Over Time")
p = p.for_each_annotation(lambda a: a.update(text=a.text.split("=")[-1]))
p = p.update_xaxes(tickangle=45, matches=None)

#p = p.update_yaxes(automargin=False)
#p= p.add_vrect(xref="winter", annotation_text="winter", annotation_position="top left", fillcolor="green", opacity=0.25, line_width=0)
theme(p)
p.show()

However, though summer and winter may have comparable occupancy factors, there is no comparison in terms of the price of the average daily rate (ADR). We can take this to mean that while the overall occupancy in these hotels is comparable during the winter and summer, the actual demand in winter far exceeds that of the summer.

In [ ]:
seasons=['winter','summer']
p = px.line(hotel_nona[(hotel_nona['season'].isin(seasons))].sort_values('date', ascending=True), x='date', y='adjusted_adr', color='season', facet_row='city', facet_col_wrap=2, title="Adjusted ADR Over Time")
p = p.for_each_annotation(lambda a: a.update(text=a.text.split("=")[-1]))
p = p.update_xaxes(tickangle=45, matches=None)

#p = p.update_yaxes(automargin=False)
#p= p.add_vrect(xref="winter", annotation_text="winter", annotation_position="top left", fillcolor="green", opacity=0.25, line_width=0)
theme(p)
p.show()

Finally, knowing that the winter months are busier than the summer months both in terms of occupancy and demand, when should snow sports enthusiasts go to avoid crowds and lower costs? The chart below indicates that anytime before the winter holiday in December (Christmas and New Years) will have relatively low demand, any time between winter break and the Valentines/Presidents Day weekend, and any point after those two time frames will be the ideal times to look to go skiing.

In [ ]:
season=['winter']
winter_rates=hotel_nona[((hotel_nona['season'].isin(season)))].groupby(['month','dom']).mean()

winter_rates=winter_rates.reset_index()

p = px.line(winter_rates, x='dom', y='adjusted_adr', color='month', 
            title="Average Daily Rate by Month",
            category_orders={"month": ["December", "January", "February", "March"]},
            labels={  "dom": "Day of the Month",
                     "adjusted_adr": "Adjusted Average Daily Rate ($)"
                 })
p = p.for_each_annotation(lambda a: a.update(text=a.text.split("=")[-1]))
p = p.update_xaxes(tickangle=45, matches=None)



theme(p)
p.show()

In [ ]:
season=['winter']
winter_rates=hotel_nona[((hotel_nona['season'].isin(season)))].groupby(['month','dom']).mean()

winter_rates=winter_rates.reset_index()

p = px.line(winter_rates, x='dom', y='adjusted_adr', color='month', 
            title="Average Daily Rate by Month",
            category_orders={"month": ["November","December", "January", "February", "March"]},
            labels={  "dom": "Day of the Month",
                     "adjusted_adr": "Adjusted Average Daily Rate ($)"
                 },
            #facet_col_spacing=.007,
            #facet_col='month'
           )
p = p.for_each_annotation(lambda a: a.update(text=a.text.split("=")[-1]))
p = p.update_xaxes(tickangle=45, matches=None)
p=p.update_yaxes(showline=False)


theme(p)
p.show()

In [ ]:
season=['winter']
winter_rates=hotel_nona[((hotel_nona['season'].isin(season)))].groupby(['month','dom']).mean()

winter_rates=winter_rates.reset_index()

p = px.line(winter_rates, x='dom', y='adjusted_adr', color='month', 
            title="Average Daily Rate by Month",
            category_orders={"month": ["November","December", "January", "February", "March"]},
            labels={  "dom": "Day of the Month",
                     "adjusted_adr": "Adjusted Average Daily Rate ($)"
                 },
            facet_col_spacing=.00000001,
            facet_col='month')
p = p.for_each_annotation(lambda a: a.update(text=a.text.split("=")[-1]))
p = p.update_xaxes(tickangle=45,showdividers=False)
p=p.update_yaxes(showline=True)



theme(p)
p.show()

In [ ]:
hotel_nona.to_csv('hotel_data.csv')

In [ ]:
winter_rates.to_csv('winter_rates.csv')