# Annual Colorado Traffic Data

Data here is sourced from the <a href="https://dtdapps.coloradodot.info/otis/TrafficData">Colorado Dept of Transportation's Online Transportation Information System.</a>

## Routes

In [3]:
import pandas as pd

routes = pd.read_csv ("~/jupyter/sp22Capstone_01_Group02/data/AnnualTrafficData/Highways.csv", dtype={'FIPSCITY':str,'FIPSCOUNTY':str})

### The data is organized by a route designator and a starting reference point. Some routes have duplicate entries

In [2]:
DupeRoutes = routes.groupby(['ROUTE','REFPT']).size().reset_index().rename({0:'Count'},axis=1)
DupeRoutes = DupeRoutes[DupeRoutes.Count != 1].sort_values('Count', ascending=False)
DupeRoutes.head()

      ROUTE    REFPT  Count
2766   006L   88.995      3
1010   006D  110.792      2
74305  287C  297.000      2
72761  285D  228.800      2
72710  285D  225.144      2

### For those, we'll use the record that has the longest segment length. In case of a tie, we'll take the record with the hightest objectID

In [3]:
for index, row in DupeRoutes.iterrows():
    maxObjectID = routes[(routes.ROUTE==row.ROUTE) & (routes.REFPT==row.REFPT)]\
                    .sort_values(['SEG_LENGTH','OBJECTID'], ascending=False)\
                    .head(1)['OBJECTID']\
                    .values[0]
    routes = routes.drop(routes[(routes.ROUTE==row.ROUTE) & (routes.REFPT==row.REFPT) & (routes.OBJECTID!=maxObjectID)].index)

### Use only the relevant columns

In [4]:
cols = ['ROUTE', 'REFPT', 'ENDREFPT', 'SEG_LENGTH', 'TPRID', 'CITY', 'FIPSCITY', 'COUNTY', 'FIPSCOUNTY', 'POPULATION', 
        'FUNCCLASS', 'ROUTESIGN', 'NHSDESIG', 'ACCESS_', 'DESCRIPTION', 'MPOID', 'PRIRDL', 'PRIDLCLASS', 'SPEEDLIM', 'PRISURF', 
        'THRULNQTY', 'THRULNWD', 'PRIOUTSHLD', 'PRIOUTSHLDWD', 'MEDIAN', 'MEDIANWD', 'ALIAS']
routes = routes[cols]

### Functions to translate two columns to their human-readable forms

In [5]:
def translate_planning_district(TPRID):
    if TPRID == 1:
        val = 'Pikes Peak Area'
    elif TPRID == 2:
        val = 'Denver Area'
    elif TPRID == 3:
        val = 'North Front Range'
    elif TPRID == 4:
        val = 'Pueblo Area'
    elif TPRID == 5:
        val = 'Grand Valley'
    elif TPRID == 6:
        val = 'Eastern'
    elif TPRID == 7:
        val = 'Southeast'
    elif TPRID == 8:
        val = 'San Luis Valley'
    elif TPRID == 9:
        val = 'Gunnison Valley'
    elif TPRID == 10:
        val = 'Southwest'
    elif TPRID == 11:
        val = 'Intermountain'
    elif TPRID == 12:
        val = 'Northwest'
    elif TPRID == 13:
        val = 'Upper Front Range'
    elif TPRID == 14:
        val = 'Central Front Range'
    elif TPRID == 15:
        val = 'South Central'
    else:
        val = None
        
    return val

def translate_metro_planning_org (MPOID):
    if MPOID == 1:
        val = 'Denver Regional Council of Governments'
    elif MPOID == 2:
        val = 'North Front Range'
    elif MPOID == 3:
        val = 'Pikes Peak Area Council of Governments'
    elif MPOID == 4:
        val = 'Pueblo Area Council of Governments'
    elif MPOID == 5:
        val = 'Grand Valley'
    else:
        val = None
    
    return val

In [6]:
routes['TPRID'] = routes['TPRID'].apply(translate_planning_district)
routes['MPOID'] = routes['MPOID'].apply(translate_metro_planning_org)

### Rename columns to database table format

In [7]:
colNames = {'ROUTE': 'route',
            'REFPT': 'begin_ref_point',
            'ENDREFPT': 'end_ref_point',
            'SEG_LENGTH': 'segment_length',
            'TPRID': 'trans_planning_district',
            'CITY': 'city_name',
            'FIPSCITY': 'city_fips',
            'COUNTY': 'county_name',
            'FIPSCOUNTY': 'county_fips',
            'POPULATION': 'population_type',
            'FUNCCLASS': 'functional_classification',
            'ROUTESIGN': 'route_sign',
            'NHSDESIG': 'nhs_designation',
            'ACCESS_': 'access_type',
            'DESCRIPTION': 'route_description',
            'MPOID': 'metro_planning_org',
            'PRIRDL': 'primary_direction_life_years',
            'PRIDLCLASS': 'primary_direction_pavement_class',
            'SPEEDLIM': 'speed_limit',
            'PRISURF': 'surface_type',
            'THRULNQTY': 'lane_count',
            'THRULNWD': 'avg_lane_width',
            'PRIOUTSHLD': 'shoulder_type',
            'PRIOUTSHLDWD': 'shoulder_width',
            'MEDIAN': 'median_type',
            'MEDIANWD': 'median_width',
            'ALIAS': 'route_alias'}

routes.rename(colNames, axis=1, inplace=True)

## Average Annual Daily Traffic (AADT) Data

### Functions to translate ID columns to their human-readable equivalents

In [8]:
def translate_aadt_derivation(aadtderiv):
    if aadtderiv == 1:
        val = 'Collected in Reported Year'
    elif aadtderiv == 2:
        val = 'Projected from data 1 year ago'
    elif aadtderiv == 3:
        val = 'Projected from data 2 years ago'
    elif aadtderiv == 4:
        val = 'Projected from data 3 years ago'
    elif aadtderiv == 5:
        val = 'Collected from most recent ATR'
    else:
        val = None
    return val

def translate_road_terrain(roadterrain):
    if roadterrain == 1:
        val = 'Not Applicable (Urban)'
    elif roadterrain == 2:
        val = 'Plains'
    elif roadterrain == 3:
        val = 'Rolling'
    else:
        val = None
    return val

def translate_seasonal_group(seasonalgroupid):
    if seasonalgroupid == 1:
        val = 'Interstate Rural'
    elif seasonalgroupid == 2:
        val = 'Other Rural'
    elif seasonalgroupid == 3:
        val = 'Recreational'
    elif seasonalgroupid == 4:
        val = 'High Recreational'
    elif seasonalgroupid == 5:
        val = 'Interstate Urban'
    elif seasonalgroupid == 6:
        val = 'Other Urban'
    elif seasonalgroupid == 7:
        val = 'Special Case'
    else:
        val = None
    return val

### Load each year's data and clean up inconsistencies

In [57]:
traffic = pd.DataFrame()

# missingCols = {year: [] for year in range(1997,2021)}

for year in range(1997,2021):
    temp = pd.read_excel(f"~/jupyter/sp22Capstone_01_Group02/data/AnnualTrafficData/CDOT_Traffic{year}.xlsx")

    # Convert column names to lower case
    temp.columns = [col.lower() for col in temp.columns]

    # Remove extraneous column
    if 'traffon_aadtderiv' in temp.columns:
        temp.drop('aadtderiv', axis=1, inplace=True)

    # The format of the data sometimes varies between years. In some cases, columns representing the same thing are called
    # something different.  Here we rename the columns to fit a standard.
    colNames = {'traffon_aadtderiv': 'aadtderiv',
                'roadterrai': 'roadterrain',
                'seasonalgroupid': 'seasonalgroup',
                'seasonalgr': 'seasonalgroup',
                'pctoffpkco': 'pctoffpkcomb',
                'length_': 'length'
               }
    temp.rename(colNames, axis=1, inplace=True)

    # Correct AADT Year to be CCYY instead of YY for years < 2000
    temp.aadtyr = temp.aadtyr.apply(lambda x: int('19'+str(x)) if x < 100 else x)

    # Add year column to indicate when data is from
    temp['year'] = year
    
    # columns to keep
    columns = ['route','refpt','endrefpt','year','length','aadt','aadtderiv','aadtsingle','aadtcomb','pktrk','offpktrk',
               'dhv','dd','routecapac','vcratio','roadterrain','seasonalgroup']

    # Fill in the columns that are missing with None
    for col in columns:
        if col not in temp.columns:
            temp[col] = None
#             missingCols[year].append(col)
    
    # Exclude the ramps 
    if 'isramp' in temp.columns:
        temp['isramp'] = temp['isramp'].astype(str)
        temp = temp[temp['isramp'].str.lower() != 'y']
    
    # Translate some ID columns to their human-readable equivalents
    temp['aadtderiv'] = temp['aadtderiv'].apply(translate_aadt_derivation)
    temp['roadterrain'] = temp['roadterrain'].apply(translate_road_terrain)
    temp['seasonalgroup'] = temp['seasonalgroup'].apply(translate_seasonal_group)
    
    # Select only relevant columns and put them in a consistent order
    temp = temp[columns]
    
    traffic = traffic.append(temp)

### Rename columns to database format

In [58]:
colNames = {'route': 'route',
            'refpt': 'begin_ref_point',
            'endrefpt': 'end_ref_point',
            'length': 'length',
            'aadt': 'aadt',
            'aadtderiv': 'aadt_derivation',
            'aadtsingle': 'aadt_single_unit_trucks',
            'aadtcomb': 'aadt_combination_trucks',
            'pktrk': 'aadt_peak_truck_pct',
            'offpktrk': 'aadt_offpeak_truck_pct',
            'dhv': 'design_hour_value',
            'dd': 'design_hour_value_peak_dir_pct',
            'routecapac': 'route_capacity',
            'vcratio': 'volume_capacity_ratio',
            'roadterrain': 'road_terrain',
            'seasonalgroup': 'seasonal_group'}

traffic.rename(colNames, axis=1, inplace=True)

## Create Database Tables

In [59]:
import getpass
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine
%reload_ext sql

mypasswd = getpass.getpass()
username = 'dgyw5' # Replace with your pawprint
host = 'pgsql.dsa.lan'
database = 'caponl_22g2'

postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database': database}
engine = create_engine(URL(**postgres_db), echo=False)


connection_string = f'postgres://{username}:{mypasswd}@{host}/{database}'
%sql $connection_string
del mypasswd

········

In [32]:
%%sql

drop table if exists routes cascade;

create table routes (
    route varchar(4),
    begin_ref_point float,
    end_ref_point float,
    segment_length float,
    trans_planning_district varchar(25),
    city_name varchar(25),
    city_fips varchar(5),
    county_name varchar(15),
    county_fips varchar(3),
    population_type varchar(20),
    functional_classification varchar(40),
    route_sign varchar(5),
    nhs_designation varchar(25),
    access_type varchar(40),
    route_description varchar(255),
    metro_planning_org varchar(50),
    primary_direction_life_years int,
    primary_direction_pavement_class varchar(10),
    speed_limit int,
    surface_type varchar(30),
    lane_count int,
    avg_lane_width int,
    shoulder_type varchar(20),
    shoulder_width int,
    median_type varchar(40),
    median_width int,
    route_alias varchar(50),
    constraint pk_routes primary key (route, begin_ref_point)
);

grant all privileges on routes to nnfd2, dgyw5, jwcp64, gfdbq;

 * postgres://dgyw5:***@pgsql.dsa.lan/caponl_22g2
Done.
Done.
Done.

[]

In [33]:
%%sql

drop table if exists annual_traffic_data cascade;

create table annual_traffic_data (
    route varchar(4),
    begin_ref_point float,
    end_ref_point float,
    year int,
    length float,
    aadt int,
    aadt_derivation varchar(35),
    aadt_single_unit_trucks int,
    aadt_combination_trucks int,
    aadt_peak_truck_pct float,
    aadt_offpeak_truck_pct float,
    design_hour_value int,
    design_hour_value_peak_dir_pct int,
    route_capacity int,
    volume_capacity_ratio float,
    road_terrain varchar(25),
    seasonal_group varchar(25),
    constraint pk_annual_traffic_data primary key (route, begin_ref_point, year)
);

grant all privileges on annual_traffic_data to nnfd2, dgyw5, jwcp64, gfdbq;

 * postgres://dgyw5:***@pgsql.dsa.lan/caponl_22g2
Done.
Done.
Done.

[]

## Load Database Tables

In [34]:
routes.to_sql('routes', con=engine, index=False, if_exists='append', method='multi', chunksize=10000)

In [63]:
traffic.to_sql('annual_traffic_data', con=engine, index=False, if_exists='append', method='multi', chunksize=10000)

In [64]:
%%sql

select count(*) from routes

 * postgres://dgyw5:***@pgsql.dsa.lan/caponl_22g2
1 rows affected.

[(82237,)]

In [65]:
%%sql
select count(*) from annual_traffic_data

 * postgres://dgyw5:***@pgsql.dsa.lan/caponl_22g2
1 rows affected.

[(109229,)]